.admin-menu {
  background: linear-gradient(to right, #1a1713, #100f0d);
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-family: "Segoe UI", sans-serif;
  direction: rtl;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 4px solid black;
}

.admin-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 30px;
}

.admin-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s, transform 0.3s;
  padding: 8px 14px;
  border-radius: 6px;
}

.admin-menu a:hover {
  color: #fff3e0;
  background-color: rgb(116, 89, 89);
  transform: scale(1.05);
}
.admin-menu a.active {
  background-color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
